html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background-color: #000000;
    font-family: sans-serif;
}
p {
    color: white;
    text-align: center;
    height: 20px;
    margin: 0;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
}
span.mr {
    margin-right: 30%;
}
span.ml {
    margin-left: 30%;
}
a {
    color: rgb(0, 200, 255);
    text-decoration: none;
}
.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loading-text {
    font-size: 3rem;
    color: white;
    text-align: center;
    font-family: Arial;
}
select, button, input {
    padding: 15px;
    border-radius: 10px;
    border-width: medium;
    outline: none;
    border-top-color: #ffffff;
    border-left-color: #cccccc;
    border-right-color: #666666;
    border-bottom-color: #333333;
    font-size: 20px;
}
select, button {
    border-top-color: #cccccc;
    border-left-color: #aaaaaa;
    border-right-color: #444444;
    border-bottom-color: #222222;
    font-size: 30px;
}
input.small-text {
    font-size: 16px;
}
input.big-text {
    font-size: 30px;
    border-width: thick;
}
canvas {
    position: absolute;
    top: 30px;
    left: 0;
}
